<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск новостей</title>
</head>
<body>

<h1>Поиск новостей</h1>

<form>
    <p><input type="search" name="q">
        <input type="submit" value="Найти"></p>
</form>


{{range .News}}
<div>
    <div>{{.ID}}: {{.Title}}</div>
</div>
{{end}}

</body>
</html>