{{define "head"}}<title>Список доступных лотов</title>{{end}}
{{define "body"}}
<h1>Лоты</h1>
<p>
    <a href="auction/lots/add" >Добавить лот</a>
</p>
<div>
    <table border="1">
        <tr>
            <th>ИД лота</th>
            <th>Описание</th>
            <th>Текущая цена</th>
        </tr>
        {{range $key,$value := . }}
        <tr>
            <td>{{$value.ID}}</td>
            <td>{{$value.Title}}</td>
            <td>{{$value.StartPrice}}</td>
            <td>
                <a href="auction/lots/{{$key}}/updprice">Выставить цену</a> |
            </td>
        </tr>
        {{end}}
    </table>
</div>
{{end}}